* {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


header, footer {
    height: 100px;
    border: 10px solid black;
    clear:both;
    background-color: goldenrod;
    display: flex;
    
}

article {
    height: 375px;
    width: 50%;
    border: 10px solid black;
    float: left;
    background-color: gray;
    display: flex;
}

h1 {
    text-align: center;
    font-size: 90px;

}

h2 {
 font-size:xx-large;
 text-align: center;

}

/* media queries */

