* {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    margin: auto 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


header, footer {
    height: 10%;
    border: 10px solid black;
    clear:both;
    background-color: #bebebe;
    display: flex;
    
}

article {
    height: 375px;
    width: 50%;
    border: 10px solid black;
    float: left;
    background-color: transparent;
    display: flex;
}

h1 {
    text-align: center;
    font-size: 90px;

}

h2 {
 font-size:xx-large;
 text-align: center;

}

/* media queries large*/

@media all and (max-width: 1900px) {
    article {
        border-color: yellow;
    }
}
@media all and (max-width: 1700px) {
   
    article {
        border-color: green;
    }

@media all and (max-width: 1400px) {
    
    article {
        border-color: red;
    }

 @media all and (max-width: 1000px) {
        article {
            border-color: blue;
        }

@media all and (max-width: 800px) {
    article {
        border-color: white;
    }
    h1 {
        color: black;
        font-style: italic;
        padding-bottom: 80%;
        padding-right: 90%;
        font-size: 45px;
        
    }
    .one {

    background-image: url('https://media.giphy.com/media/qotS2jDwb78j9U4rHw/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    }

    .two {
    background-image: url('https://media.giphy.com/media/MfZ4RYNAHC1PNd4jg1/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    }

    .three {
    background-image: url('https://media.giphy.com/media/FnjTE2vycfWTAxP89b/giphy.gif') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    }

    .four {
    background-image: url('https://media.giphy.com/media/aiY4hFZoFSV25vHNC7/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    }

